
.container{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
}
.item{
	background-color:green;
	padding-bottom:50px;
	padding-right:50px;
}
.two{
	background-color:blue;
	padding-bottom:50px;
	padding-right:50px;
	order:3;
}

.one{
	background-color:red;
	padding-bottom:50px;
	padding-right:50px;
	order: 2;
}